/*DEBUT CSS MASSI CONTACT*/
body{
    background: -webkit-linear-gradient(left, #fff,#fff);
}
body,html{
    height: 100%;
	margin: 0px;
	padding: 0px;
}
.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}




#NousTrouver h3{
   margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: blue;
}
#global
{
    width:100%;
      background: green;

}
#global #formulaire
{
    position:relative;
    width:60%;
    background-color: red;
    float:left;
}
#global #NousTrouver
{
  background: green;
    position:relative;
    width:40%;
    float:right;
}
#NousTrouver{
  text-align: center;
}
li {
  list-style-type:none;
}
#h252 {
  color: blue;

}

.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 20%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: blue;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}
/*FIN CSS MASSI CONTACT*/

/*DEBUT CSS EMMA FOOTER*/
footer{
    position : relative ;
    text-align: center ; 
    bottom : 0  ; 
    width: 100% ;
    height: 60 px;
    left: 0;
    right: 0;

}
#lab_social_icon_footer {
  padding: 10px 0;
  background-color: #dedede;
}

#lab_social_icon_footer a {
  color: #333;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
/*
    Multicoloured Hover Variations
*/

#lab_social_icon_footer #social-fb:hover {
  color: #3B5998;
}

#lab_social_icon_footer #social-tw:hover {
  color: #4099FF;
}

#lab_social_icon_footer #social-em:hover {
  color: #f39c12;
}

.container {
text-align : center;}
/*FIN CSS EMMA FOOTER*/


/*DEBUT CSS QUENTIN CONNEXION*/
.forgot {
	text-align: center; margin-bottom:30px;
}
.forgot a {
	color: #777777;
	font-size: 14px;
	text-decoration: underline;
}
/*DEBUT CSS QUENTIN MOT DE PASSE OUBLIE ET DEVENIR MEMBRE*/
.form-gap {
    padding-top: 70px;
}
/*FIN CSS QUENTIN MOT DE PASSE OUBLIE ET DEVENIR MEMBRE*/

/*FIN CSS QUENTIN CONNEXION*/

/*DEBUT CSS KAMAL ACCUEIL*/


.card {
    -moz-box-shadow: 0 0 2px #888;
    -webkit-box-shadow: 0 0 2px#888;
    box-shadow: 0 0 2px #888;
    text-align: center;
}

.card img {
    width: 400px;
    height: 250px;
    margin-top:30px;
}

.card li a{

}

.nav-tabs>li>a {
    border: none;
}

#home {
	text-align: justify;
}

.twitterAccueil {
	text-align : center;
	display:block;
	width:auto;
	padding-left: 500px;
	padding-right: 500px;
}

/*FIN CSS KAMAL ACCUEIL*/














/*DEBUT HEADER AYOUBE*/


body, html{
  margin: 0px;
  padding: 0px;

}

@font-face {
 font-family: "Hunters";
 src: url("Hunters.otf");

}

#header{
  width: 100%;

  padding: 0px;
  margin: 0 0 5% 0;
  background-color: #F2F4F4;
  height: 260px;
}

.images{
  display: block;
  width: 70px;
  height: 70px;
 
  margin: auto;
  padding-top: 15px;
}

#list_menu{
  margin: 0px;
  padding: 5px;
}

#list_menu li{
  display: inline-block;
  position: relative;
  text-align: center;
  /*border: 2px solid black;*/
  border-radius: 100px;
  /*border-color: red;*/
  width: 150px;
  height: 150px;
  margin: 15px;
  background-color: #FF3E3E;

}
/* Styles pour la rubrique en cours */


.menu_text{
  color: black;
  line-height: 70px;
  margin: auto;
  padding: auto;
  text-decoration: none;
  font-family: 'Roboto', black;
  font-size: 18px;
  font-variant: small-caps;
}

#menu{
  text-align: center;
  z-index: 1;
}

.separateur{
  background-color: #9E8885;
  border-radius: 6px;
  z-index: -1;
  width: 50%;
  height: 5px;
  display: none;
}

#separateur_bas{
  margin-top: 50px;
}

#separateur_haut{
  margin-bottom: 50px;
}

#list_menu li:hover {
  background-color:#ECA8A0;
  border-color:orange;
}

#menu #en-cours{
	background-color: #ECA8A0;
}
/* TEMP: haut */
#connexion{
  padding: 10px;
  margin: 0;
  font-family: "Roboto",sans-serif;
}

#connexion a{
  text-decoration: none;
  color: black;
}


.inter{
  float: right;
  top: 0;
  right: 0;
  position: relative;

}

/*.inter:hover{
  background-color: #E5E8E8;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

}*/

#div_titre{

  width: 100%;
  position: relative;
  text-align: center;
  z-index: 2;
}

#div_logo_mirail{
  position: absolute;
  top: 0;
  left: 0;
}

#img_logo{
  display: inline-block;
  vertical-align: middle;
}

#div_titre h1{
  display: inline-block;
  clear: left;
  font-family: "Hunters";
  font-size: 600%;
  margin: 0;
}

#div_titre p{
  margin: 0;
  font-family: "Roboto",sans-serif;
  font-style: oblique;
  font-variant: small-caps;
}

/* TEMP: animation */
#list_menu li:hover{
  animation-duration: 0.6s;
  animation-name: logo;
}

@keyframes logo{
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(-30deg);
  }
  100%{
    transform: rotate(30deg);
  }
}

/* TEMP: fin animation */

#humburger-bottom{
  display: none;
  border: none;
  cursor: pointer;
  background: none;
  font-size: 30px;
  padding: 0px;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 10px;
}

#hamburger-overlay{
  display: none;
  position: fixed;
  z-index:10;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
}

#hamburger-sidebar{
  display: none;
  position: fixed;
  width: 84%;
  z-index:20;
  top: 0;
  left:0;
  background-color: #FFF;
  transform: translateX(-100%);
  transition: transform .2s ease-out;
}

#hamburger-sidebar li{
  width: 100%;
  height: 100px;
  border-radius: 0;
  display: block;
  margin: 0;
  background-color: white;
  animation-name: logo;
  animation-play-state: paused
}


#hamburger-sidebar li:hover{
  background-color: white;
}
#hamburger-sidebar .separateur{
  display: none;
}

#hamburger-sidebar .images{
  display: none;
}

#hamburger-sidebar .menu_text{
  display: block;
  border-radius: 10px;
  background-color:#FF3E3E;
}
#hamburger-sidebar .menu_text:hover{
  background-color: #ECA8A0;
}


#hamburger-sidebar-body{
   padding: 16px 8px;
 }

#hamburger-sidebar-body .inter{
  display: block;
  float: none;
  position: relative;
  text-align: center;
  border-radius: 10px;
  padding: 0 8px;
}


/* @media query*/

@media screen and (max-width: 1024px){
  #div_menu_hamburger, #div_titre, #div_logo_mirail{
    display: none;
  }
  #header{
    height: 0%;
  }
  #humburger-bottom, #hamburger-sidebar,
  .hamburger-activated #hamburger-overlay{
    display: block;
  }

  .hamburger-activated #hamburger-sidebar{
    transform: translateX(0);
  }
}

/*FIN HEADER AYOUBE*/

/* DEBUT CSS box*/ 

.carousel {

    margin-bottom: 0;

    padding: 0 40px 30px 40px;

}

#imgbox{
    width:150px;
    height:150px;
}


/* The controlsy */

.carousel-control {

	left: -120px;

	height: 40px;

	width: 40px;

    background: none repeat scroll 0 0 #222222;

    border: 4px solid #FFFFFF;

    border-radius: 23px 23px 23px 23px;

    margin-top: 90px;

}

.carousel-control.right {

	right: -12px;

}

/* The indicators */

.carousel-indicators {

	right: 50%;

	top: auto;

	bottom: -10px;

	margin-right: -19px;

}

/* The colour of the indicators */

.carousel-indicators li {

	background: #cecece;

}

.carousel-indicators .active {

background: #428bca;

}

/* Fin CSS BOX */

/*Debut CSS searchbar*/


.searchbar {
    height: 5%;
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 30;
}

#searchbartext {
    border: 0px solid #000000;
    width: 45%;
    height: 100%;
    font-size: 300%;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;    
}

#searchbarlist {
    padding-right: 10px;
    float: right;
    width: 20%;
    height: 100%;
    font-size: 300%;
}


#searchbardateend {
   float: right;
   height: 100%;
   width: 16%;
   border: transparent; 
}

#searchbardatestart {
   float: right;
   height: 100%;
   width: 16%;
   border: transparent;
}

#searchbutton{
    float: right;
    width: 22px;
    height: 100%;
    border: none;
    cursor: pointer;
    background:transparent;
}

.stylish-input-group button{
    border:0;    
}

.glyphicon-searchbar{
     position: relative;
     top: 10px;
     right: 8px;
}

/* Fin css searchbar */

/* Début CSS Modal*/

#Modaltitre{
    float: left;
    font-size: 600%;
    padding-bottom: 2%;
}

#Descriptionactivite{
    float: left;
    padding-top: 2%;
    padding-bottom: 3%;
    font-size: 200%;
}

#TextGaucheModal{
    float: left;
    font-size: 400%;
}

#TextDroitModal{
    float: right;
    
}

#ModalCloseButton{
    float:right;
}

#Modalform{
  float:right;  
}
/*Fin CSS Modal*/

/*Debut CSS vue_activite*/


#leftlink{
    float: left;
    margin-left: 85%;
    font-size: 200%; 
}

#titreactivite {
    margin-left: 3%;
    width: 4%;
    font-size: 300%; 
}

#descriptiononglet{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right:15%;
    text-align: center;
}

.thumbnail{
    height: 150px;
    width: 150px;
}

#titreonglet{
    font-size: 600%;
}

/* Fin css vue_activite */

/*DEBUT CSS QUENTIN CONNEXION*/
.forgot {
	text-align: center; margin-bottom:30px;
}
.forgot a {
	color: #777777;
	font-size: 14px;
	text-decoration: underline;
}
/*DEBUT CSS QUENTIN MOT DE PASSE OUBLIE ET DEVENIR MEMBRE*/
.form-gap {
    padding-top: 70px;
}
/*FIN CSS QUENTIN MOT DE PASSE OUBLIE ET DEVENIR MEMBRE*/

/*FIN CSS QUENTIN CONNEXION*/

/*DEBUT CSS KAMAL ACCUEIL*/

#sautdeligne{
  margin: 0.2em 0; 
}
#div_titreAccueil {
  font-family: "Hunters";
  font-size: 500%;
  margin: 0;

}

#div_presentation {
  font-family: "Gill Sans";
  font-size: 200%;
  margin: 0;

}

.card {
    -moz-box-shadow: 0 0 2px #888;
    -webkit-box-shadow: 0 0 2px#888;
    box-shadow: 0 0 2px #888;
}

.card img {
    width: 400px;
    height: 250px;
    margin-top:30px;
}

.card li a{

}

.nav-tabs>li>a {
    border: none;
}

#home {
	text-align: justify;
}

.twitterAccueil {
	text-align : center;
	display:block;
	width:auto;
	padding-left: 500px;
	padding-right: 500px;
}

/*FIN CSS KAMAL ACCUEIL*/
